@page
@using FarmProject.Domain.Constants;
@model FarmProject.Presentation.Pages.AddBreedingRabbitModel
@{
    ViewData["Title"] = "Add Breeding Rabbit";
}

<h1>Add Breeding Rabbit</h1>

<form method="post">
    <input type="text" asp-for="BreedingRabbit.Name" placeholder="Name of the rabbit"/>
    
    <select asp-for="BreedingRabbit.Gender">
        <option value="">Select Gender</option>
        @foreach (var gender in Enum.GetValues(typeof(Gender)))
        {
            <option value="@gender">@gender</option>
        }

    </select>

    <button type="submit" class="btn btn-primary">Create</button>
  
</form>