@page
@model FarmProject.Presentation.Pages.AddPairModel
@{
    ViewData["Title"] = "Add Pair";
}

<h1>Add Pair</h1>

<form method="post">
    <p>First Rabbit ID:</p>
    <input type="text" asp-for="Pair.MaleId" placeholder="Input Rabbit Id" />

    <p>Second Rabbit ID:</p>
    <input type="text" asp-for="Pair.FemaleId" placeholder="Input Rabbit Id" />

    <button type="submit" class="btn btn-primary">Create</button>

</form>