@page
@using FarmProject.Domain.Constants;
@model FarmProject.Presentation.Pages.AddRabbitModel
@{
    ViewData["Title"] = "Add Rabbit";
}

<h1>Add Rabbit</h1>

<form method="post">
    <input type="text" asp-for="Rabbit.Name" placeholder="Name of the rabbit"/>
    
    <select asp-for="Rabbit.Gender">
        <option value="">Select Gender</option>
        @foreach (var gender in Enum.GetValues(typeof(Gender)))
        {
            <option value="@gender">@gender</option>
        }

    </select>

    <select asp-for="Rabbit.BreedingStatus">
        <option value="">Select Breeding Status</option>
        @foreach (var status in Enum.GetValues(typeof(BreedingStatus)))
        {
            <option value="@status">@status</option>
        }

    </select>

    <button type="submit" class="btn btn-primary">Create</button>
  
</form>