@page
@model FarmProject.Presentation.Pages.AllRabbitsModel
@{
    ViewData["Title"] = "All Rabbits";
}

<h1>All Rabbits</h1>

@foreach(var rabbit in Model.Rabbits)
{
    <div class="card mt-4">
        <div class="card-header">
            Rabbit #@rabbit.Id
        </div>
        <div class="card-body">
            <h5 class="card-title">@rabbit.Name</h5>
            <div class="row mt-3">
                <div class="col-md-6">
                    <p><strong>Gender:</strong> @rabbit.Gender</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Breeding Status:</strong> @rabbit.BreedingStatus</p>
                </div>
            </div>
        </div>
    </div>
}